<?xml version="1.0" encoding="utf-8" ?>
<simpleSection>
  <culture culture="ru-RU" />
  <rules>
    <rule rule=".*\.txt$" targetFolder="C:\Users\Public\targetFolder\txt" isAddNumber="true" isAddMoveDate="False"/>
    <rule rule=".*\.doc$" targetFolder="C:\Users\Public\targetFolder\doc" isAddMoveDate="false"/>
    <rule rule=".*\.xls$" targetFolder="C:\Users\Public\targetFolder\xls" />
  </rules>
  <viewedDirs>
    <viewedDir dir="C:\Users\Public\sourceFolder0"/>
    <viewedDir dir="C:\Users\Public\sourceFolder1"/>
    <viewedDir dir="C:\Users\Public\sourceFolder2"/>
  </viewedDirs>
  <defaultDestinationDir dir="C:\Users\Public\targetFolder\other" />
</simpleSection>